datasets/
.venv/
__pycache__/
models/
*.pyc
.env
catboost_info
mlruns/
*.log
*.csv
*.json
*.parquet
*.db
*.sqlite
*.db-journal
*.db-shm
*.db-wal
*.hdf5
*.h5
*.xlsx
*.xls
*.pickle
*.pkl
*.model
*.onnx
*.onnxruntime
*.onnxruntime_model
*.onnxruntime_model_*
